body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.items :hover {
  color: #6b15a1;
  /*background-color: #DDD;*/
  left: .1em;
  cursor: pointer;
}

/*.cross :hover {*/
  /*background-color: red;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e5c9;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

nav a{
  color: black;
}


/* Responsive24A5FF: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 30px;
  }


}

